.section1 { 
    background-color: blue; 
    color: white; 
    padding: 60px 0; 
}

.section2 { 
    background-color: black; 
    color: white; 
    padding: 30px 0; 
}

.card1 { 
    margin-bottom: 20px; 
}

.form1 { 
    margin-bottom: 20px; 
}